*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ui-brand-color: #f9ba38;
}

img {
  display: block;
  width: 50%;
  max-width: 50%;
}

.header {
    background-image: url("/img/background.png");
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
    height: 850px;
  }

