* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ui-brand-color: #f9ba38;
}

img {
  display: block;
  width: 50%;
  max-width: 50%;
}

h1,
h2,
h3,
h4 p {
  color: #222;
}

section {
  padding: 0 120px;
}

.header {
  background-image: url("/img/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 1440px;
  align-items: center;
  justify-content: space-between;
  padding: 0 120px;
}

.img-logo {
  width: 160px; /* Можеш змінити розмір логотипа */
  height: auto; /* Автоматична висота для збереження пропорцій */
}

.menu {
  flex-direction: row;
  flex: 1px;
}